
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue"></script>
  <title>Index</title>
  <style media="screen">
    button{
      width: 200px;
      margin: auto;
    }
    .table1{
      margin: auto;
      border: 1px;
      border-style: dashed;
    }
  </style>
</head>
<body>
  <div id="app">
    <button v-on:click="showPeopleList()"><h4>Peoples</h4>
      <table class="table1" v-if="showPeople">
        <tr>
          <td>Name</td>
          <td>Probality</td>
        </tr>
        <tr v-for="people in peoples">
          <td>{{ people.name }}</td>
          <td>{{ people.prop }}</td>
        </tr>
      </table>
    </button>
    <button v-on:click="showWeaponList()"><h4>Weapons</h4>
      <table class="table1" v-if="showWeapon">
        <tr>
          <td>Weapon</td>
          <td>Probality</td>
        </tr>
        <tr v-for="weapon in weapons">
          <td>{{ weapon.name }}</td>
          <td>{{ weapon.prop }}</td>
        </tr>
      </table>
    </button>
    <button v-on:click="showPlaceList()"><h4>Places</h4>
      <table class="table1" v-if="showPlace">
        <tr>
          <td>Place</td>
          <td>Probality</td>
        </tr>
        <tr v-for="place in places">
          <td>{{ place.name }}</td>
          <td>{{ place.prop }}</td>
        </tr>
      </table>
    </button>
  </div>
</body>
</html>
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data: {
    showPeople: false,
    showWeapon: false,
    showPlace: false,
    peoples: [
      { name: 'green', prop: 0 },
      { name: 'plum', prop: 0 },
      { name: 'mustard', prop: 0 },
      { name: 'peacock', prop: 0 },
      { name: 'scarlet', prop: 0 },
      { name: 'white', prop: 0 }
    ],
    weapons: [
      { name: 'candle-stick', prop: 0 },
      { name: 'knife', prop: 0 },
      { name: 'leadpipe', prop: 0 },
      { name: 'revolver', prop: 0 },
      { name: 'rope', prop: 0 },
      { name: 'wrench', prop: 0 }
    ],
    places:[
      { name: 'conservatory', prop: 0 },
      { name: 'lounge', prop: 0 },
      { name: 'kitchen', prop: 0 },
      { name: 'library', prop: 0 },
      { name: 'hall', prop: 0 },
      { name: 'study', prop: 0 },
      { name: 'ball-room', prop: 0 },
      { name: 'dining-room', prop: 0 },
      { name: 'billiard-room', prop: 0 }
    ]
  },
  methods:{
    showPeopleList: function(){
      if( this.showPeople ) this.showPeople = false
      else this.showPeople = true
    },
    showWeaponList: function(){
      if( this.showWeapon ) this.showWeapon = false
      else this.showWeapon = true
    },
    showPlaceList: function(){
      if( this.showPlace ) this.showPlace = false
      else this.showPlace = true
    }
  }
})
</script>
